
mixin svg(id)
    svg 
        use(xmlns:xlink="http://www.w3.org/1999/xlink"  xlink:href="img/sprite.svg#" + id)

mixin phone(phone, text=phone, className)
    a(href='tel:'+ phone class="phone " + className)!=text


mixin mail(mail, className)
    a(href='mailto:'+ mail class="mail " + className)!=mail

mixin menu_item(anchor,text, className)
    li
        a(class=className href=anchor)!=text

mixin option(val, text=val)
    option(value=val)=text

mixin osvg(name)
    object.logoObject(type="image/svg+xml" data="img/svg/" + name + ".svg")


mixin mainButton(text = 'Заказать звонок', info = text)
    button.modal-trigger.mainButton(data-target='popup-container' data-info=info)!= text

//- .slider-wrap
    .swiper-container.photo-slider
        .swiper-wrapper.section
                mixin slide
                    .swiper-slide
                        .an.go-prew(data-fancybox="images" data-src='img/gallery/'+ i +'.jpg')
                            img.prew(src='img/gallery/'+ i +'-min.jpeg', alt='img')
                            span.zoom
                    
                -for(var i = 1; i < 21; i++)
                    +slide
                
        .swiper-button-prev
        .swiper-button-next
    .swiper-pagination.photo-pagination
    .btnP
    .btnN